*.iml
.idea
**/target/**/*
**/.DS_Store
**/src/**/gen/**/*
**/.project
**/.classpath
**/*.prefs

/tests/ae-reference-document/src/main/dita/ae-common-content/
/distributions/ae-dita-distribution/src/main/dita/ae-common-content/
