<?xml version='1.0' encoding='UTF-8'?>
<plugin id="org.metaeffekt.ae-standard-pdf">
    <feature extension="package.support.name" value="Whitelabel Standard PDF DITA OT Plugin"/>
    <feature extension="package.support.email" value="contact@metaeffekt.org"/>
    <feature extension="package.version" value="1.0.0"/>
    <require plugin="org.dita.pdf2" />
    <feature extension="dita.conductor.transtype.check" value="ae-standard-pdf" />
    <feature extension="dita.transtype.print" value="ae-standard-pdf" />
    <feature extension="dita.conductor.target.relative" file="integrator.xml" />

    <!-- libraries
        <feature extension="dita.conductor.lib.import" file="lib/<name>.jar"/>

        CURRENTLY NO ADDITIONAL LIBRARIES ARE REQUIRED
    -->

</plugin>
